include ../mixins/dropdowns/theme

header.header
    .header__container
        .header__column
            .header-sidebar
                i.fas.fa-bars#sidebarBtn-js
            .header-logo
                a(href=routes.home)
                    i.fab.fa-youtube      
                    span.siteName #{siteName}
                    span.countryCode#countryCode-js
        .header__column
            form(action=routes.results, method="get")
                input(type="text", placeholder="Search", name="search_query", autocomplete="off")
                button(type="submit")
                    i.fas.fa-search
            a(href="#")
                i.fas.fa-microphone
        .header__column
            .search
                i.fas.fa-search
            a(href=routes.videos+routes.shootVideo)
                i.fas.fa-video
            a(href="#")
                i.fas.fa-th
            a(href="#")
                i.fas.fa-bell
            ul.dropdown
                li.dropbtn#dropdown-js
                    if !loggedUser
                        img.header-avatar(src="https://static1.squarespace.com/static/5b47794f96d4553780daae3b/5b4911e888251bc248f72092/5b491753aa4a995f4ea81a9b/1557777464536/profile-placeholder.jpg?format=1500w")
                    else
                        img.header-avatar(src=`/${loggedUser.avatarUrl}`)
                if !loggedUser
                    ul.dropdown-content#dropdownContent-js
                        a(href=routes.signUp)
                            li
                                i.fas.fa-user
                                span Sign Up
                        a(href=routes.signIn)
                            li
                                i.fas.fa-user
                                span Sign In
                        a(href="#")
                            li#themeBtn-js
                                i.fas.fa-adjust
                                span Dark Mode
                    +theme
                else
                    ul.dropdown-content#dropdownContent-js
                        a(href=routes.userDetail(loggedUser.id))
                            li
                                .dropdown__user
                                    img.dropdown__user-avatar(src=`/${loggedUser.avatarUrl}`)
                                    .dropdown__user-info
                                        span.username=loggedUser.name
                                        span=loggedUser.email
                        .dropdown-row__divide
                        a(href=routes.videos+routes.upload)
                            li
                                i.fas.fa-film
                                span Upload
                        a(href=routes.myProfile)
                            li
                                i.fas.fa-user
                                span Profile
                        a(href="#")
                            li#themeBtn-js
                                i.fas.fa-adjust
                                span#themeShow-js
                        a(href=routes.logout)
                            li
                                i.fas.fa-user
                                span Sign Out

                    +theme