extends layouts/main
include mixins/videoBlock

block content
    .video-container#videoContainer-js
        .user-profile
            .user-profile__header
                .user-profile__profile
                    img.u-avatar(src=`${loggedUser.avatarUrl.includes("http") ? loggedUser.avatarUrl : `/${loggedUser.avatarUrl}`}`)
                    .user-profile__info
                        h4.username=user.name
                        if user.channel.subsCount === 0
                            span.count No subscribers
                        else if user.channel.subsCount === 1
                            span.count=`${user.channel.subsCount} Subscriber`
                        else
                            span.count=`${user.channel.subsCount} Subscribers`
                .user-profile__btns
                    if loggedUser && user.id === loggedUser.id
                        a(href=routes.users+routes.editProfile)
                            button Edit Profile
                        a(href=routes.users+routes.changePassword)
                            button Change Passwords
            .video-container#videoContainer-js
                .video-wrap#videoWrap-js
                    each video in user.videos
                        +videoBlock({
                            id: video.id,
                            title: video.title,
                            thumbnail: video.thumbnailFile,
                            creator: video.creator,
                            createdAt: video.createdAt,
                            views: video.views,
                        })