extends layouts/main

block content
    .video__player
        video(src=`/${video.videoFile}`)
    .video__info
        if loggedUser && video.creator.id === loggedUser.id
            a(href=routes.edit(video.id))
                button Edit Video
        h5.video__title=video.title
        if video.views === 0 || 1
            span.video__views=video.views
            |  view
        else
            span.video__views=video.views
            |  views
        h5.video__createdAt=video.createdAt
       
        p.video__creator
            span Uploaded By 
            a(href=routes.userDetail(video.creator.id))=video.creator.name
        p.video__description=video.description
    .video__comments
        if video.comments.length === 0 || 1 
            span.video__comment-number #{video.comments.length} comment
        else
            span.video__comment-number #{video.comments.length} comments
