extends layouts/main
include mixins/sideBar 

block content
    .video__container
        +sideBar
        .video__wrapper
            .video__player
                video(src=`/${video.videoFile}`)
            .video__info
                .video__details
                    if loggedUser
                        if video.creator.id === loggedUser.id
                            a(href=routes.edit(video.id))
                                button.video__details-editBtn Edit Video
                    h5.video__title=video.title
                    .video__detail
                        .video__detail-views
                            if video.views === 0 || 1
                                span.video__views=video.views
                                span.video__views   view · 
                            else
                                span.video__views=video.views
                                span.video__views   views · 
                            span.video__createdDate#createdDate-js=video.createdAt
                        .video__detail-btns
                            i.fas.fa-thumbs-up
                            span 123
                            i.fas.fa-thumbs-down
                            span 1
                            i.fas.fa-share
                            span SHARE
                            i.fas.fa-archive
                            span SAVE
                            i.fas.fa-ellipsis-h
                .video__creator-detail
                    p.video__creator
                        a(href=routes.userDetail(video.creator.id))=video.creator.name
                    .video__creator-detail-btns
                        button.video__subscribe SUBSCRIBE
                        i.fas.fa-bell
                p.video__description=video.description
            .video__comments
                if video.comments.length === 0 || 1 
                    span.video__comment-number #{video.comments.length} comment
                else
                    span.video__comment-number #{video.comments.length} comments
            .video__comments-create
                form(action="", method="post")
                    input(type="text", name="comment", placeholder="Add a public comment...")
                    .video__comments-submit
                        button CANCEL
                        input(type="submit", value="COMMENT")