extends layouts/main
include mixins/videoPlayer
include mixins/adviseLogin


block content
    .video-container#videoContainer-js
        .video__wrapper#videoWrap-js
            +videoPlayer({
                src:video.videoFile
            })
            .video__details
                .video__column
                    .video-creatorOnly
                    if loggedUser
                        if video.creator.id === loggedUser.id
                            a(href=routes.edit(video.id))
                                button.video__editBtn Edit Video
                .video__column
                    h1.video__title=video.title
                    .video__detail
                        .video__detail-views
                            if video.views > 1
                                span.video__views=video.views
                                span.video__view-text   views · 
                            else
                                span.video__views=video.views
                                span.video__view-text   view ·
                            span.video__createdDate#createdDate-js=video.createdAt
                        .video__detail-btns
                            .video__detail-btn
                                +adviseLogin({
                                    type: "adviseLoginLike-js",
                                    header:"Like this video?",
                                    text:"Sign in to make your opinion count."
                                })
                                .likeBtn-js
                                    i.fas.fa-thumbs-up.likeIcon-js
                                    span.likeCount-js=video.preferences.like
                            .video__detail-btn
                                +adviseLogin({
                                    type: "adviseLoginDislike-js",
                                    header:"Don't you like this",
                                    text:"Sign in to make your opinion count."
                                })
                                .dislikeBtn-js
                                    i.fas.fa-thumbs-down.dislikeIcon-js
                                    span.dislikeCount-js=video.preferences.dislike
                            .video__detail-btn
                                include partials/socialMedia
                                .shareBtn-js
                                    i.fas.fa-share
                                    span SHARE
                            .video__detail-btn
                                //- +adviseLogin({
                                //-     type: "adviseLoginSave-js",
                                //-     header:"Want to watch this again later?",
                                //-     text:"Sign in to add this video to a playlist."
                                //- })
                                .saveBtn-js
                                    i.fas.fa-archive
                                    span SAVE
                            .video__detail-btn
                                i.fas.fa-ellipsis-h
                .video__column
                    .video__detail
                        img(src=`${video.creator.avatarUrl.includes("http") ? video.creator.avatarUrl : `/${video.creator.avatarUrl}`}`)
                        a(href=routes.userDetail(video.creator.id))=video.creator.name
                            p.video__creator
                    .video__detail
                        .video__creator-detail-btns
                            button.video__subscribe.subscribe-js SUBSCRIBE
                            +adviseLogin({
                                type: "adviseLoginSubscribe-js",
                                header:"Don't you like this",
                                text:"Sign in to make your opinion count."
                            })
                            i.fas.fa-bell
                .video__column
                    .video__detail
                        p.video__description=video.description
            .video__comments
                .comments-view
                    if video.comments.length > 1 
                        span.video__comment-number#countComment-js #{video.comments.length}
                        span#countCmntText-js   comments
                    else
                        span.video__comment-number#countComment-js #{video.comments.length}
                        span#countCmntText-js   comment
                .comments-create
                    if !loggedUser
                        img(src="https://static1.squarespace.com/static/5b47794f96d4553780daae3b/5b4911e888251bc248f72092/5b491753aa4a995f4ea81a9b/1557777464536/profile-placeholder.jpg?format=1500w")
                    else
                        img(src=`${loggedUser.avatarUrl.includes("http") ? loggedUser.avatarUrl : `/${loggedUser.avatarUrl}`}`)
                    form(action="", method="post")#addComment-js
                        .textarea-box
                            textarea(name="comment", rows="1" class="comment-js" id="comment-js" placeholder="Add a public comment...")
                        .video__comments-submit.createCommentBtns-js
                            input(type="reset", value="CANCEL", id="cancel-js")
                            input(type="submit", value="COMMENT")
         
                .comments-block
                    ul.video__comments-list#commentContainer-js
                        each item in comments.reverse()
                            li.comment__list(id=item.id)
                                .comment__creator
                                    .comment__creator-avatar
                                        a(href=routes.userDetail(item.creator.id))
                                            img(src=`${item.creator.avatarUrl.includes("http") ? item.creator.avatarUrl : `/${item.creator.avatarUrl}`}`)
                                    .comment__creator-details#commentCreatorDetails-js
                                        .comment__creator-info.commentDeta-js
                                            a(href=routes.userDetail(item.creator.id))
                                                span.comment__creator-name=item.creator.name
                                            span.video__createdAt.comment__creator-time=item.createdAt
                                        .comment__text.commentText-js
                                            p=item.text
                                        .comment__edit-form.cmntEditForm-js
                                            form(action="" method="post" id="editComment" class="edit-comment")
                                                .textarea-box
                                                    textarea(name="newComment", id="newComment" rows="1")=item.text
                                                .comment__edit--submit
                                                    button CANCEL
                                                    input(type="submit" value="COMMENT")
                                        .comment__btns
                                            .comment__btn.cmntLikeBtn-js
                                                i.fas.fa-thumbs-up.cmntLikeIcon-js
                                                span.cmntLikeCount-js=item.preferences.like
                                            .comment__btn.cmntDislikeBtn-js   
                                                i.fas.fa-thumbs-down.cmntDislikeIcon-js
                                                span.cmntDislikeCount-js=item.preferences.dislike

                                if loggedUser && item.creator.id === loggedUser.id
                                    .comment__edit
                                        .comment__edit__btn.commentBtn-js
                                            i.fas.fa-ellipsis-v
                                        .comment__edit__container.commentOptions-js
                                            ul.comment__edit-options
                                                li.commentEditBtn-js
                                                        i.fas.fa-pen
                                                        span Edit
                                                li.commentDeleteBtn-js
                                                        i.fas.fa-trash
                                                        span Delete
