mixin videoBlock(video={})
    .videoBlock
        a(href=routes.detail(video.id))
            img.video__thumbnail(src=`/${video.thumbnail}`) 
            .videoBlock__column
                img.video__creator-img(src=`/${video.creator}`)
                .videoBlock-info
                    h4.video__title=video.title
                    .videoBlock-details
                        h6.video__creator-name=video.name
                        span.video__append · 
                        if video.views === 0 || 1
                            span.video__views=video.views
                            span.video__append view
                        else
                            span.video__views=video.views
                            span.video__append views
                    .videoBlock-details
                        h6.video__createdAt=video.createdAt